.btn {
  border-radius: 20px;
  outline: 0;
  margin: 10px 55px;
  padding: 10px 15px;
  border: 0;
}

.addContact {
  background-color: #81e6d9;
  color: black;
  font-size: 20px;
  transition: all 0.15s;
}

.btn:hover {
  background-color: #75d4c7;
  transform: translateY(3px);
}

.cardContainerSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  height: 100vh;
}

@media screen and (max-width: 1280px) {
  .cardContainerSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 860px) {
  .cardContainerSection {
    display: grid;
    grid-template-columns: 1fr;
  }

  .addContact {
    background-color: #81e6d9;
    color: black;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.15s;
    padding: 1rem 2rem;
  }

  .addContactContainer {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
