.formContainer {
  background: url("../assets/addContactBackground.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 4rem;
  height: 100vh;
}

.formInputs {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  width: 500px;
  height: 650px;
  border-radius: 30px;
}

.inputSection,
label,
form h2,
form select {
  outline: 0;
  background-color: transparent;
  color: rgb(34, 34, 34);
  font-weight: 600;
}
