@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazir.eot");
  src: url("../public/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Vazir.woff2") format("woff2"),
    url("../public/fonts/Vazir.woff") format("woff"),
    url("../public/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Vazir";
  height: 200vh;
}
