:root {
  --text-color: #ffffff;
  --background-color: #27374d;
  --border-color: #526d82;
  --add-contact-color: rgb(255, 184, 52);
  --card-background: rgb(100, 119, 132);
  --show-button: rgb(83, 30, 0);
  --edit-button: rgb(27, 3, 94);
  --remove-button: rgb(100, 0, 0);
  --show-button-hover: rgb(119, 44, 1);
  --edit-button-hover: rgb(36, 2, 129);
  --remove-button-hover: rgb(145, 0, 0);
}

@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazir.eot");
  src: url("../public/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Vazir.woff2") format("woff2"),
    url("../public/fonts/Vazir.woff") format("woff"),
    url("../public/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* navbar : Customize bootstrap class */
.navbar {
  border-bottom: 1px solid gray;
  margin-bottom: 25px;
}

html {
  color: var(--text-color);
  font-family: "Vazir";
}

* {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar Component */
.input_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border: 3px solid gray;
  border-radius: 30px;
  transition: all 0.25s;
}

.input_container:focus-within {
  box-shadow: 0px 1px 5px 0px var(--border-color);
  border-color: #dde6ed;
}

.contact_search {
  width: 100%;
}

.contact_search::placeholder {
  font-weight: 400;
  color: var(--text-color);
}

.input_container .search_button,
.input_container .contact_search {
  border: none;
  margin: 10px 20px;
  background-color: white;
  outline: 0;
  background-color: var(--background-color);
}

/* AddContactButton Component  */
.add_contact {
  text-decoration: none;
  background-color: var(--add-contact-color);
  border: 1px solid var(--add-contact-color);
  outline: 0;
  color: black;
  font-size: 20px;
  margin: 20px;
  border-radius: 20px;
  padding: 10px 15px;
  transition: all 0.15s;
}

.add_contact:hover {
  background-color: rgb(235, 153, 1);
  border: 1px solid rgb(235, 153, 1);
}

/* for all of the buttons */
.add_contact:active,
.contact_edit_button:active,
.contact_remove_button:active,
.contact_detail_button:active {
  transform: translateY(3px);
}

/* ContactCard Component */

.card_container,
.button_icon,
.contact_picture,
.contact_info,
.action_buttons,
button,
li {
  background-color: var(--card-background);
}
.card_container {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin: 1rem;
}

.contact_picture,
button,
.contact_detail_button {
  border-radius: 20px;
  transition: all 0.25s;
}

.contact_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact_info,
li {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
}

.action_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button_icon {
  font-size: 25px;
  background: transparent;
}

.contact_detail_button {
  background-color: var(--show-button);
  border: 1px solid var(--show-button);
}

.contact_edit_button {
  background-color: var(--edit-button);
  border: 1px solid var(--edit-button);
}

.contact_remove_button {
  background-color: var(--remove-button);
  border: 1px solid var(--remove-button);
}

.contact_detail_button:hover {
  background-color: var(--show-button-hover);
  border: 1px solid var(--show-button-hover);
}

.contact_edit_button:hover {
  background-color: var(--edit-button-hover);
  border: 1px solid var(--edit-button-hover);
}

.contact_remove_button:hover {
  background-color: var(--remove-button-hover);
  border: 1px solid var(--remove-button-hover);
}

.contact_edit_button,
.contact_remove_button,
.contact_detail_button {
  padding: 12px;
}

/* CardContainer Component */

.card_container_section {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

/* AddContact Component */

.form_container {
  background: url("./assets/addContactBackground.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 4rem;
  height: 100vh;
}

.form_inputs {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  width: 35vw;
  height: 530px;
  border-radius: 30px;
}

.input_section,
label,
form h2 {
  background-color: transparent;
  color: rgb(34, 34, 34);
  font-weight: 600;
}
